.flickity-viewport {
  margin-bottom: 2rem;
}

.flickity-light-dots {
  .flickity-page-dots .dot {
    background: #fff;
  }
}

.carousel-cell {
  width: 100%;
}

.flickity-bordered-cells {
  .carousel-cell {
    width: 100%;
    margin: 0 .5rem;
    padding: 0 0.5rem;

    img {
      border-radius: $border-radius;
      margin: .5rem .5rem .5rem 0;
      box-shadow: .5rem .5rem 0px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
